//vars
$mainColor: (#F2F0F1);
$secondaryColor:( #E5BACC );
$keyColor: (black);


$textXl:40px;
$textMd: 25px;
$textSm : 19px; 
$textSsm:15px;
$textalign:justify;
$textalignc:center;
$width:100%;
$widthSm:30rem;
$marginsm:10px;
$marginLg:11px;
$marginTop:20px;
$paddingleft:15px;




//colorMap
$paleta:(
    'maincolor':#F2F0F1,
    'secondaryColor': #E5BACC,
    'thirdcolor':#FFDAE6,
);



//









